{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">

    <link rel="stylesheet" href="{% static 'css/color-1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/color-1.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'css/color-2.css' %}" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="{% static 'css/color-3.css' %}" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="{% static 'css/color-4.css' %}" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="{% static 'css/color-5.css' %}" class="alternate-style" title="color-5" disabled>

    <link rel="stylesheet" href="{% static 'css/style-switcher.css' %}">
</head>

<body>
    <style>
        .aside .nav :hover{
            color: var(--skin-color);

        }
    </style>
    <div class="main-container">
        <div class="aside">
            <div class="logo">
                <a href="#"><span>Portfolio</span>Forge</a>          
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="{% url 'home' %}" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="{% url 'about' %}"><i class="fa fa-user"></i>About</a></li>
                <li><a href="{% url 'service' %}"><i class="fa fa-list"></i>Skills & Services</a></li>
                <li><a href="{% url 'project' %}"><i class="fa fa-folder-open"></i>Projects</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-comments"></i>Contact</a></li>
                <li><a href="{% url 'log_in' %}"><i class="fa fa-sign-out-alt"></i>Log Out</a></li>
            </ul>
        </div>

        <div class="main-content">
            <section class="home section">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">Hello, my name is <span class="name">{{ profile.name }}</span></h3>
                            <h3 class="my-profession">I' m good at <span class="typing">{{ profile.profession }}</span></h3>
                            <p>{{ profile.description }}</p>
                            <a href="{% url 'contact' %}" class="btn hire-me">Hire Me</a>
                        </div>
                        <div class="home-img padd-15">
                            <img src="{{ profile.image.url }}" alt="Profile Picture">
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

    <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas"></i>
        </div>
        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js" integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/typing.js' %}"></script>  
    <script src="{% static 'js/aside.js' %}"></script>  
    <script src="{% static 'js/style-switcher.js' %}"></script>
</body>
</html>
